<app-navbar></app-navbar>

<div class="carrito">
  <div class="carrito__container">
    <div class="carrito__productos">
      <div *ngIf="carrito && carrito.pedidos.length > 0" class="carrito__tabla-container">
        <table class="carrito__tabla">
          <thead class="carrito__tabla-head">
            <tr class="carrito__tabla-row">
              <th scope="col" class="carrito__tabla-header">Producto</th>
              <th scope="col" class="carrito__tabla-header">Precio</th>
              <th scope="col" class="carrito__tabla-header">Cantidad</th>
              <th scope="col" class="carrito__tabla-header">Total</th>
              <th scope="col" class="carrito__tabla-header">Remover</th>
            </tr>
          </thead>
          <tbody class="carrito__tabla-body">
            <tr *ngFor="let pedido of carrito.pedidos" class="carrito__tabla-row">
              <td class="carrito__tabla-cell">
                <img [src]="pedido.imagen_producto" alt="{{pedido.nombre_producto}}" class="carrito__imagen">
                {{pedido.nombre_producto}}
              </td>
              <td class="carrito__tabla-cell">${{pedido.valor_unitario}}</td>
              <td class="carrito__tabla-cell">
                <div class="carrito__cantidad">
                  <button (click)="editarCantidad(pedido, -1)" class="carrito__boton">-</button>
                  <input type="text" class="carrito__input" [value]="pedido.cantidad" readonly>
                  <button (click)="editarCantidad(pedido, 1)" class="carrito__boton">+</button>
                </div>
              </td>
              <td class="carrito__tabla-cell">${{pedido.valor_unitario * pedido.cantidad}}</td>
              <td class="carrito__tabla-cell">
                <button (click)="editarCantidad(pedido, -pedido.cantidad)" class="carrito__boton-remover">&times;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!carrito || carrito.pedidos.length === 0" class="carrito__mensaje">
        <p>No hay productos en el carrito</p>
      </div>
    </div>
    <div class="carrito__resumen">
      <div class="carrito__card">
        <div class="carrito__card-body">
          <h5 class="carrito__card-title">Total pedido</h5>
          <p class="carrito__card-text">Subtotal: ${{subtotal}}</p>
          <p class="carrito__card-text">Envío:</p>
          <!-- <p class="carrito__card-text">Envío: <button (click)="calcularEnvio()" class="carrito__card-link">Calcular envío</button></p> -->
          <h5 class="carrito__card-text">Total: ${{total}}</h5>
          <a href="venta" class="carrito__card-button">Finalizar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
