<footer class="footer">
    <div class="footer__section footer__section--logo">
      <img src="assets/images/logo.png" alt="Milwaukee Logo" class="footer__logo">
      <p class="footer__text">Somos Ferretería Ferremas y es una tienda del mejor grupo del duocuc.</p>
      <ul class="footer__contact">
        <li><i class="fas fa-envelope"></i> ventas&#64;somosferremas.cl</li>
        <li><i class="fas fa-phone"></i> +569 1234 5678</li>
        <li><i class="fas fa-map-marker-alt"></i> Antonio Varas, Santiago</li>
      </ul>
    </div>
    <div class="footer__section footer__section--payments">
      <img src="assets/images/mercadopago.webp" alt="WebPay Logo" class="footer__webpay">
    </div>
  </footer>
  
  