<nav class="navbar">
  <div class="navbar__logo">
    <a href="#" class="navbar__logo-link" (click)="redirectToInicio()">
      <img src="assets/images/logo.png" alt="Logo" class="navbar__logo-image">
    </a>
  </div>
  <button class="navbar__toggle" aria-label="Toggle navigation">
    <span class="navbar__toggle-icon"></span>
  </button>
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a class="navbar__link" (click)="redirectToInicio()">Inicio</a>
    </li>
    <li class="navbar__item">
      <a  class="navbar__link" (click)="redirectToCategorias()">Categorías</a>
    </li>
    <li class="navbar__item">
      <a  class="navbar__link" (click)="redirectToRegister()">Registrarse</a>
    </li>
    <li class="navbar__item">
      <a  class="navbar__link bi bi-cart3" (click)="redirectToCarro()"></a>
    </li>
  </ul>
</nav>
