<app-navbar></app-navbar>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Producto agregado al carrito</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El producto se ha agregado correctamente al carrito
      </div>
    </div>
  </div>
</div>

<div *ngIf="productos.length > 0" class="row p-4">
  <div class="col-6">
    <h2 >Herramientas manuales</h2>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <h2>Divisas</h2>
    <select class="form-select form-select-sm" style="width: 100px;" [(ngModel)]="selectedCurrency">
      <option value="1">CLP</option>
      <option value="2">USD</option>
    </select>
  </div>
</div>
<div class="row p-4">
  <div *ngFor="let producto of productos" class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="card-img-top mx-auto" *ngIf="producto.imagen" style="width: 350px; height: 350px;">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.descripcion }}</p>
        <p class="card-text">Precio: {{ selectedCurrency === '1' ? producto.valor : producto.valor_usd  }}</p>
        <p class="card-text">Marca: {{ producto.marca }}</p>
        <button (click)="agregarProducto(producto.id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a carrito</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productos.length === 0">
  <p>No hay productos en esta categoría</p>
</div>

<app-footer></app-footer>
