<app-navbar></app-navbar>
<div class="container mt-5">
  <h2>Listado de Facturas</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>RUT</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td>{{ factura.nombre }} {{ factura.apellidos }}</td>
        <td>{{ factura.rut }}</td>
        <td>
          <a [routerLink]="['/facturas', factura.id]" class="btn btn-primary">Ver</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-navbar></app-navbar>