<app-navbar></app-navbar>
<div class="login">
  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login__form-group">
      <label for="email" class="login__label">Email</label>
      <input id="email" formControlName="email" type="email" class="login__input">
    </div>
    <div class="login__form-group">
      <label for="password" class="login__label">Contraseña</label>
      <input id="password" formControlName="password" type="password" class="login__input">
    </div>
    <div *ngIf="errorMessage" class="login__error">
      {{ errorMessage }}
    </div>
    <button type="submit" class="login__button">Ingresar</button>
  </form>
</div>
<app-footer></app-footer>
